<% layout("/layouts/boilerPlate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <body>
                <h3>Create a new Listing</h3>
                <form method="POST" action="/listings">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listings[title]" placeholder="Add a catchy Title" type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listings[description]" placeholder="description" type="text"
                            class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input name="listings[image]" placeholder="Enter image url" type="text" class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input name="listings[country]" placeholder="India,Brazil" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input name="listings[price]" placeholder="1200" type="Number"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-dark add-btn mt-3" class="mb-3">Add</button>
                    <br><br>
                </form>
            </body>
        </div>
    </div>